:root {
	--o-font-sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	--o-font-serif: ui-serif, serif;
	--o-font-mono: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco, Droid Sans Mono, Source Code Pro, monospace;
	--o-font-body: var(--o-font-sans);

	--o-font-size-fluid-00:clamp(.5rem,1vw,0.75rem);
	--o-font-size-fluid-0:clamp(.75rem,2vw,1rem);
	--o-font-size-fluid-1:clamp(1rem,3vw,1.5rem);
	--o-font-size-fluid-2:clamp(1.25rem,4vw,2rem);
	--o-font-size-fluid-3:clamp(1.5rem,5vw,2.5rem);
	--o-font-size-fluid-4:clamp(1.75rem,6vw,3rem);
	--o-font-size-fluid-5:clamp(2rem,7vw,3.5rem);

	--o-font-weight-1:100;
	--o-font-weight-2:200;
	--o-font-weight-3:300;
	--o-font-weight-4:400;
	--o-font-weight-5:500;
	--o-font-weight-6:600;
	--o-font-weight-7:700;
	--o-font-weight-8:800;
	--o-font-weight-9:900;

	--o-font-lineheight-00:.95;
	--o-font-lineheight-0:1.1;
	--o-font-lineheight-1:1.25;
	--o-font-lineheight-2:1.375;
	--o-font-lineheight-3:1.5;
	--o-font-lineheight-4:1.75;
	--o-font-lineheight-5:2;

	--o-size-content-1:20ch;
	--o-size-content-2:45ch;
	--o-size-content-3:60ch;

	--o-size-header-1:20ch;
	--o-size-header-2:25ch;
	--o-size-header-3:35ch;

	/*
   * Variables with --o-color-base prefix define
   * the hue, and saturation values to be used for
   * hsla colors.
   *
   * ex:
   *
   * --o-color-base-{color}: {hue}, {saturation};
   *
   */

    --o-color-base-zinc: 240, 4%;
	--o-color-base-gold: 38, 92%;
	--o-color-base-lime: 84, 81%;
	--o-color-base-teal: 173, 80%;

	--o-color-base-white: 0, 0%;
	--o-color-base-black: 240, 100%;
	--o-color-base-blue: 212, 100%;
	--o-color-base-blue-dark: 212, 72%;
	--o-color-base-green: 158, 79%;
	--o-color-base-purple: 269, 79%;
	--o-color-base-red: 351, 100%;
	--o-color-base-yellow: 41, 100%;

	/*
   * Color palettes are made using --o-color-base 
   * variables, along with a lightness value to
   * define different variants.
   *
   */

	--o-color-zinc-5: var(--o-color-base-zinc), 5%;
	--o-color-zinc-10: var(--o-color-base-zinc), 10%;
	--o-color-zinc-20: var(--o-color-base-zinc), 20%;
	--o-color-zinc-30: var(--o-color-base-zinc), 30%;
	--o-color-zinc-40: var(--o-color-base-zinc), 40%;
	--o-color-zinc-50: var(--o-color-base-zinc), 50%;
	--o-color-zinc-60: var(--o-color-base-zinc), 60%;
	--o-color-zinc-70: var(--o-color-base-zinc), 70%;
	--o-color-zinc-80: var(--o-color-base-zinc), 80%;
	--o-color-zinc-90: var(--o-color-base-zinc), 90%;
	--o-color-zinc-95: var(--o-color-base-zinc), 95%;
	
	--o-color-gold: var(--o-color-base-gold), 50%;
	--o-color-lime: var(--o-color-base-lime), 30%;
	--o-color-teal: var(--o-color-base-teal), 30%;

	--o-color-blue: var(--o-color-base-blue), 61%;
	--o-color-blue-dark: var(--o-color-base-blue-dark), 39%;
	--o-color-green: var(--o-color-base-green), 42%;
	--o-color-purple: var(--o-color-base-purple), 54%;
	--o-color-red: var(--o-color-base-red), 54%;
	--o-color-yellow: var(--o-color-base-yellow), 59%;
}

:root {
	color-scheme: light;
	--o-theme-accent: hsla(var(--o-color-gold), 1);
	--o-theme-accent-secondary: hsla(var(--o-color-lime), 1);

	--o-theme-dim: hsla(var(--o-color-zinc-70), 1);
	--o-theme-dim-light: hsla(var(--o-color-zinc-80), 1);
	--o-theme-dim-lighter: hsla(var(--o-color-zinc-90), 1);
	
	--o-theme-accent-opacity: 0.3;
	
	--o-theme-divider: hsla(var(--o-color-teal), 0.1);
	--o-theme-shade-subtle: hsla(var(--o-color-teal), 0.3);
	
	--o-theme-text: hsla(var(--o-color-zinc-10), 1);
	--o-theme-text-light: hsla(var(--o-color-zinc-30), 1);
	--o-theme-text-lighter: hsla(var(--o-color-zinc-40), 1);

	--o-theme-bg: hsl(var(--o-color-base-zinc), 93%);
	--o-theme-bg-gradient-top: var(--o-theme-bg);
	--o-theme-bg-gradient-bottom: hsl(var(--o-color-base-zinc), 97%);
	--o-theme-bg-hover: hsla(var(--o-color-teal), 0.075);
	--o-theme-bg-offset: hsla(var(--o-color-teal), 0.1);
	--o-theme-bg-accent: hsla(var(--o-color-teal), var(--o-theme-accent-opacity));
	--o-theme-code-inline-bg: hsla(var(--o-color-teal), .1);
	--o-theme-code-inline-text: var(--o-theme-text);
	--o-theme-code-bg: hsla(var(--o-color-base-zinc), 22%, 1);
	--o-theme-code-text: hsla(var(--o-color-zinc-95), 1);
	--o-theme-navbar-bg: var(--o-theme-bg);
	--o-theme-navbar-height: 6rem;
	--o-theme-selection-color: hsla(var(--o-color-teal), 1);
	--o-theme-selection-bg: hsla(var(--o-color-teal), var(--o-theme-accent-opacity));

	--o-theme-bg-gradient: fixed linear-gradient(180deg, var(--o-theme-bg-gradient-top), var(--o-theme-bg-gradient-top) var(--o-theme-navbar-height), var(--o-theme-bg-gradient-bottom));

	--o-theme-glow-highlight: transparent;
	--o-theme-glow-diffuse: hsla(var(--o-color-base-teal), 65%, 0.5);
	--o-theme-glow-blur: 10px;
}

body {
	background: var(--o-theme-bg-gradient);
	color: var(--o-theme-text);
}

:root.theme-dark {
	color-scheme: dark;
	/* We lighten-up the gold in dark mode, to help with link contrast. */
	--o-color-gold: var(--o-color-base-gold), 60%;
	--o-color-teal: var(--o-color-base-teal), 60%;
	--o-theme-accent-opacity: 0.4;
	--o-theme-accent: hsla(var(--o-color-gold), 1);
	--o-theme-accent-secondary: hsla(var(--o-color-gold), 1);
	--o-theme-text-accent: hsla(var(--o-color-gold), 1);

	--o-theme-dim: hsla(var(--o-color-zinc-90), 0.3);
	--o-theme-dim-light: hsla(var(--o-color-zinc-90), 0.2);
	--o-theme-dim-lighter: hsla(var(--o-color-zinc-90), 0.1);
	--o-theme-divider: hsla(var(--o-color-zinc-95), 0.1);
	--o-theme-shade-subtle: hsla(var(--o-color-zinc-95), 0.4);
	
	--o-theme-text: hsla(var(--o-color-zinc-90), 1);
	--o-theme-text-light: hsla(var(--o-color-zinc-80), 1);
	--o-theme-text-lighter: hsla(var(--o-color-zinc-70), 1);
	
	--o-theme-bg: hsl(var(--o-color-base-zinc), 19%);
	--o-theme-bg-gradient-top: var(--o-theme-bg);
	--o-theme-bg-gradient-bottom: hsl(var(--o-color-base-zinc), 11%);

	--o-theme-bg-hover: hsla(var(--o-color-teal), 0.2);
	--o-theme-bg-offset: #0008;
	--o-theme-code-inline-bg: #FFFFFF16;
	--o-theme-code-inline-text: var(--o-theme-text-light);
	--o-theme-code-bg: #0008;
	--o-theme-code-text: hsla(var(--o-color-base-white), 100%, 1);
	--o-theme-navbar-bg: var(--o-theme-bg);
	--o-theme-selection-color: hsla(var(--o-color-base-white), 100%, 1);
	--o-theme-selection-bg: hsla(var(--o-color-teal), var(--o-theme-accent-opacity));

	--o-theme-glow-highlight: hsla(var(--o-color-base-teal), 50%, 1);

	/* DocSearch [Algolia] */
	--o-docsearch-primary-color: var(--o-theme-accent);
	--o-docsearch-modal-background: var(--o-theme-bg-gradient-top);
	--o-docsearch-searchbox-focus-background: var(--o-theme-bg-offset);
	--o-docsearch-footer-background: var(--o-theme-bg-gradient-bottom);
	--o-docsearch-text-color: var(--o-theme-text);
	--o-docsearch-hit-background: var(--o-theme-bg-offset);
	--o-docsearch-hit-shadow: none;
	--o-docsearch-hit-color: var(--o-theme-text);
	--o-docsearch-footer-shadow: inset 0 -1px 0 var(--o-theme-glow-highlight), inset 1px 0px 0 var(--o-theme-glow-highlight), inset -1px 0px 0 var(--o-theme-glow-highlight),
		inset 0 calc(-1 * var(--o-theme-glow-blur)) var(--o-theme-glow-blur) calc(-1 * var(--o-theme-glow-blur)) var(--o-theme-glow-diffuse),
		inset calc(-1 * var(--o-theme-glow-blur)) 0 var(--o-theme-glow-blur) calc(-1 * var(--o-theme-glow-blur)) var(--o-theme-glow-diffuse),
		inset var(--o-theme-glow-blur) 0 var(--o-theme-glow-blur) calc(-1 * var(--o-theme-glow-blur)) var(--o-theme-glow-diffuse);
	--o-docsearch-modal-shadow: 0 0 var(--o-theme-glow-blur) var(--o-theme-glow-diffuse), inset 0 0 0 1px var(--o-theme-glow-highlight),
		inset 0 0 var(--o-theme-glow-blur) var(--o-theme-glow-diffuse);
	--o-docsearch-container-background: hsla(var(--o-color-zinc-10), 0.8);
}

::selection {
	color: var(--o-theme-selection-color);
	background-color: var(--o-theme-selection-bg);
}

:where(html){--o-animation-fade-in:fade-in .5s var(--o-ease-3);--o-animation-fade-in-bloom:fade-in-bloom 2s var(--o-ease-3);--o-animation-fade-out:fade-out .5s var(--o-ease-3);--o-animation-fade-out-bloom:fade-out-bloom 2s var(--o-ease-3);--o-animation-scale-up:scale-up .5s var(--o-ease-3);--o-animation-scale-down:scale-down .5s var(--o-ease-3);--o-animation-slide-out-up:slide-out-up .5s var(--o-ease-3);--o-animation-slide-out-down:slide-out-down .5s var(--o-ease-3);--o-animation-slide-out-right:slide-out-right .5s var(--o-ease-3);--o-animation-slide-out-left:slide-out-left .5s var(--o-ease-3);--o-animation-slide-in-up:slide-in-up .5s var(--o-ease-3);--o-animation-slide-in-down:slide-in-down .5s var(--o-ease-3);--o-animation-slide-in-right:slide-in-right .5s var(--o-ease-3);--o-animation-slide-in-left:slide-in-left .5s var(--o-ease-3);--o-animation-shake-x:shake-x .75s var(--o-ease-out-5);--o-animation-shake-y:shake-y .75s var(--o-ease-out-5);--o-animation-spin:spin 2s linear infinite;--o-animation-ping:ping 5s var(--o-ease-out-3) infinite;--o-animation-blink:blink 1s var(--o-ease-out-3) infinite;--o-animation-float:float 3s var(--o-ease-in-out-3) infinite;--o-animation-bounce:bounce 2s var(--o-ease-squish-2) infinite;--o-animation-pulse:pulse 2s var(--o-ease-out-3) infinite}@keyframes fade-in{to{opacity:1}}@keyframes fade-in-bloom{0%{filter:brightness(1) blur(20px);opacity:0}10%{filter:brightness(2) blur(10px);filter:brightness(.5) blur(10px);opacity:1}to{filter:brightness(1) blur(0);opacity:1}}@keyframes fade-out{to{opacity:0}}@keyframes fade-out-bloom{to{filter:brightness(1) blur(20px);opacity:0}10%{filter:brightness(2) blur(10px);filter:brightness(.5) blur(10px);opacity:1}0%{filter:brightness(1) blur(0);opacity:1}}@keyframes scale-up{to{transform:scale(1.25)}}@keyframes scale-down{to{transform:scale(.75)}}@keyframes slide-out-up{to{transform:translateY(-100%)}}@keyframes slide-out-down{to{transform:translateY(100%)}}@keyframes slide-out-right{to{transform:translateX(100%)}}@keyframes slide-out-left{to{transform:translateX(-100%)}}@keyframes slide-in-up{0%{transform:translateY(100%)}}@keyframes slide-in-down{0%{transform:translateY(-100%)}}@keyframes slide-in-right{0%{transform:translateX(-100%)}}@keyframes slide-in-left{0%{transform:translateX(100%)}}@keyframes shake-x{0%,to{transform:translateX(0)}20%{transform:translateX(-5%)}40%{transform:translateX(5%)}60%{transform:translateX(-5%)}80%{transform:translateX(5%)}}@keyframes shake-y{0%,to{transform:translateY(0)}20%{transform:translateY(-5%)}40%{transform:translateY(5%)}60%{transform:translateY(-5%)}80%{transform:translateY(5%)}}@keyframes spin{to{transform:rotate(1turn)}}@keyframes ping{90%,to{opacity:0;transform:scale(2)}}@keyframes blink{0%,to{opacity:1}50%{opacity:.5}}@keyframes float{50%{transform:translateY(-25%)}}@keyframes bounce{25%{transform:translateY(-20%)}40%{transform:translateY(-3%)}0%,60%,to{transform:translateY(0)}}@keyframes pulse{50%{transform:scale(.9)}}
:where(html){--o-ease-1:cubic-bezier(.25,0,.5,1);--o-ease-2:cubic-bezier(.25,0,.4,1);--o-ease-3:cubic-bezier(.25,0,.3,1);--o-ease-4:cubic-bezier(.25,0,.2,1);--o-ease-5:cubic-bezier(.25,0,.1,1);--o-ease-in-1:cubic-bezier(.25,0,1,1);--o-ease-in-2:cubic-bezier(.50,0,1,1);--o-ease-in-3:cubic-bezier(.70,0,1,1);--o-ease-in-4:cubic-bezier(.90,0,1,1);--o-ease-in-5:cubic-bezier(1,0,1,1);--o-ease-out-1:cubic-bezier(0,0,.75,1);--o-ease-out-2:cubic-bezier(0,0,.50,1);--o-ease-out-3:cubic-bezier(0,0,.3,1);--o-ease-out-4:cubic-bezier(0,0,.1,1);--o-ease-out-5:cubic-bezier(0,0,0,1);--o-ease-in-out-1:cubic-bezier(.1,0,.9,1);--o-ease-in-out-2:cubic-bezier(.3,0,.7,1);--o-ease-in-out-3:cubic-bezier(.5,0,.5,1);--o-ease-in-out-4:cubic-bezier(.7,0,.3,1);--o-ease-in-out-5:cubic-bezier(.9,0,.1,1);--o-ease-elastic-1:cubic-bezier(.5,.75,.75,1.25);--o-ease-elastic-2:cubic-bezier(.5,1,.75,1.25);--o-ease-elastic-3:cubic-bezier(.5,1.25,.75,1.25);--o-ease-elastic-4:cubic-bezier(.5,1.5,.75,1.25);--o-ease-elastic-5:cubic-bezier(.5,1.75,.75,1.25);--o-ease-squish-1:cubic-bezier(.5,-.1,.1,1.5);--o-ease-squish-2:cubic-bezier(.5,-.3,.1,1.5);--o-ease-squish-3:cubic-bezier(.5,-.5,.1,1.5);--o-ease-squish-4:cubic-bezier(.5,-.7,.1,1.5);--o-ease-squish-5:cubic-bezier(.5,-.9,.1,1.5);--o-ease-step-1:steps(2);--o-ease-step-2:steps(3);--o-ease-step-3:steps(4);--o-ease-step-4:steps(7);--o-ease-step-5:steps(10)}
:where(.o-fade-in-active):where(:active){-webkit-animation:var(--o-animation-fade-in);animation:var(--o-animation-fade-in)}:where(.o-fade-in){-webkit-animation:var(--o-animation-fade-in);animation:var(--o-animation-fade-in)}:where(.o-fade-in-hover):where(:hover){-webkit-animation:var(--o-animation-fade-in);animation:var(--o-animation-fade-in)}:where(.o-fade-out-active):where(:active){-webkit-animation:var(--o-animation-fade-out);animation:var(--o-animation-fade-out)}:where(.o-fade-out){-webkit-animation:var(--o-animation-fade-out);animation:var(--o-animation-fade-out)}:where(.o-fade-out-hover):where(:hover){-webkit-animation:var(--o-animation-fade-out);animation:var(--o-animation-fade-out)}:where(.o-fade-in-bloom-active):where(:active){-webkit-animation:var(--o-animation-fade-in-bloom);animation:var(--o-animation-fade-in-bloom)}:where(.o-fade-in-bloom){-webkit-animation:var(--o-animation-fade-in-bloom);animation:var(--o-animation-fade-in-bloom)}:where(.o-fade-in-bloom-hover):where(:hover){-webkit-animation:var(--o-animation-fade-in-bloom);animation:var(--o-animation-fade-in-bloom)}:where(.o-fade-out-bloom-active):where(:active){-webkit-animation:var(--o-animation-fade-out-bloom);animation:var(--o-animation-fade-out-bloom)}:where(.o-fade-out-bloom){-webkit-animation:var(--o-animation-fade-out-bloom);animation:var(--o-animation-fade-out-bloom)}:where(.o-fade-out-bloom-hover):where(:hover){-webkit-animation:var(--o-animation-fade-out-bloom);animation:var(--o-animation-fade-out-bloom)}:where(.o-scale-up-active):where(:active){-webkit-animation:var(--o-animation-scale-up);animation:var(--o-animation-scale-up)}:where(.o-scale-up){-webkit-animation:var(--o-animation-scale-up);animation:var(--o-animation-scale-up)}:where(.o-scale-up-hover):where(:hover){-webkit-animation:var(--o-animation-scale-up);animation:var(--o-animation-scale-up)}:where(.o-scale-down-active):where(:active){-webkit-animation:var(--o-animation-scale-down);animation:var(--o-animation-scale-down)}:where(.o-scale-down){-webkit-animation:var(--o-animation-scale-down);animation:var(--o-animation-scale-down)}:where(.o-scale-down-hover):where(:hover){-webkit-animation:var(--o-animation-scale-down);animation:var(--o-animation-scale-down)}:where(.o-slide-out-up-active):where(:active){-webkit-animation:var(--o-animation-slide-out-up);animation:var(--o-animation-slide-out-up)}:where(.o-slide-out-up){-webkit-animation:var(--o-animation-slide-out-up);animation:var(--o-animation-slide-out-up)}:where(.o-slide-out-up-hover):where(:hover){-webkit-animation:var(--o-animation-slide-out-up);animation:var(--o-animation-slide-out-up)}:where(.o-slide-out-down-active):where(:active){-webkit-animation:var(--o-animation-slide-out-down);animation:var(--o-animation-slide-out-down)}:where(.o-slide-out-down){-webkit-animation:var(--o-animation-slide-out-down);animation:var(--o-animation-slide-out-down)}:where(.o-slide-out-down-hover):where(:hover){-webkit-animation:var(--o-animation-slide-out-down);animation:var(--o-animation-slide-out-down)}:where(.o-slide-out-right-active):where(:active){-webkit-animation:var(--o-animation-slide-out-right);animation:var(--o-animation-slide-out-right)}:where(.o-slide-out-right){-webkit-animation:var(--o-animation-slide-out-right);animation:var(--o-animation-slide-out-right)}:where(.o-slide-out-right-hover):where(:hover){-webkit-animation:var(--o-animation-slide-out-right);animation:var(--o-animation-slide-out-right)}:where(.o-slide-out-left-active):where(:active){-webkit-animation:var(--o-animation-slide-out-left);animation:var(--o-animation-slide-out-left)}:where(.o-slide-out-left){-webkit-animation:var(--o-animation-slide-out-left);animation:var(--o-animation-slide-out-left)}:where(.o-slide-out-left-hover):where(:hover){-webkit-animation:var(--o-animation-slide-out-left);animation:var(--o-animation-slide-out-left)}:where(.o-slide-in-up-active):where(:active){-webkit-animation:var(--o-animation-slide-in-up);animation:var(--o-animation-slide-in-up)}:where(.o-slide-in-up){-webkit-animation:var(--o-animation-slide-in-up);animation:var(--o-animation-slide-in-up)}:where(.o-slide-in-up-hover):where(:hover){-webkit-animation:var(--o-animation-slide-in-up);animation:var(--o-animation-slide-in-up)}:where(.o-slide-in-down-active):where(:active){-webkit-animation:var(--o-animation-slide-in-down);animation:var(--o-animation-slide-in-down)}:where(.o-slide-in-down){-webkit-animation:var(--o-animation-slide-in-down);animation:var(--o-animation-slide-in-down)}:where(.o-slide-in-down-hover):where(:hover){-webkit-animation:var(--o-animation-slide-in-down);animation:var(--o-animation-slide-in-down)}:where(.o-slide-in-right-active):where(:active){-webkit-animation:var(--o-animation-slide-in-right);animation:var(--o-animation-slide-in-right)}:where(.o-slide-in-right){-webkit-animation:var(--o-animation-slide-in-right);animation:var(--o-animation-slide-in-right)}:where(.o-slide-in-right-hover):where(:hover){-webkit-animation:var(--o-animation-slide-in-right);animation:var(--o-animation-slide-in-right)}:where(.o-slide-in-left-active):where(:active){-webkit-animation:var(--o-animation-slide-in-left);animation:var(--o-animation-slide-in-left)}:where(.o-slide-in-left){-webkit-animation:var(--o-animation-slide-in-left);animation:var(--o-animation-slide-in-left)}:where(.o-slide-in-left-hover):where(:hover){-webkit-animation:var(--o-animation-slide-in-left);animation:var(--o-animation-slide-in-left)}:where(.o-spin-active):where(:active){-webkit-animation:var(--o-animation-spin);animation:var(--o-animation-spin)}:where(.o-spin){-webkit-animation:var(--o-animation-spin);animation:var(--o-animation-spin)}:where(.o-spin-hover):where(:hover){-webkit-animation:var(--o-animation-spin);animation:var(--o-animation-spin)}:where(.o-ping-active):where(:active){-webkit-animation:var(--o-animation-ping);animation:var(--o-animation-ping)}:where(.o-ping){-webkit-animation:var(--o-animation-ping);animation:var(--o-animation-ping)}:where(.o-ping-hover):where(:hover){-webkit-animation:var(--o-animation-ping);animation:var(--o-animation-ping)}:where(.o-blink-active):where(:active){-webkit-animation:var(--o-animation-blink);animation:var(--o-animation-blink)}:where(.o-blink){-webkit-animation:var(--o-animation-blink);animation:var(--o-animation-blink)}:where(.o-blink-hover):where(:hover){-webkit-animation:var(--o-animation-blink);animation:var(--o-animation-blink)}:where(.o-float-active):where(:active){-webkit-animation:var(--o-animation-float);animation:var(--o-animation-float)}:where(.o-float){-webkit-animation:var(--o-animation-float);animation:var(--o-animation-float)}:where(.o-float-hover):where(:hover){-webkit-animation:var(--o-animation-float);animation:var(--o-animation-float)}:where(.o-bounce-active):where(:active){-webkit-animation:var(--o-animation-bounce);animation:var(--o-animation-bounce)}:where(.o-bounce){-webkit-animation:var(--o-animation-bounce);animation:var(--o-animation-bounce)}:where(.o-bounce-hover):where(:hover){-webkit-animation:var(--o-animation-bounce);animation:var(--o-animation-bounce)}:where(.o-pulse-active):where(:active){-webkit-animation:var(--o-animation-pulse);animation:var(--o-animation-pulse)}:where(.o-pulse){-webkit-animation:var(--o-animation-pulse);animation:var(--o-animation-pulse)}:where(.o-pulse-hover):where(:hover){-webkit-animation:var(--o-animation-pulse);animation:var(--o-animation-pulse)}:where(.o-shake-x-active):where(:active){-webkit-animation:var(--o-animation-shake-x);animation:var(--o-animation-shake-x)}:where(.o-shake-x){-webkit-animation:var(--o-animation-shake-x);animation:var(--o-animation-shake-x)}:where(.o-shake-x-hover):where(:hover){-webkit-animation:var(--o-animation-shake-x);animation:var(--o-animation-shake-x)}:where(.o-shake-y-active):where(:active){-webkit-animation:var(--o-animation-shake-y);animation:var(--o-animation-shake-y)}:where(.o-shake-y){-webkit-animation:var(--o-animation-shake-y);animation:var(--o-animation-shake-y)}:where(.o-shake-y-hover):where(:hover){-webkit-animation:var(--o-animation-shake-y);animation:var(--o-animation-shake-y)}:where(.o-ping-pong-active):where(:active){-webkit-animation:var(--o-animation-ping-pong);animation:var(--o-animation-ping-pong)}:where(.o-ping-pong){-webkit-animation:var(--o-animation-ping-pong);animation:var(--o-animation-ping-pong)}:where(.o-ping-pong-hover):where(:hover){-webkit-animation:var(--o-animation-ping-pong);animation:var(--o-animation-ping-pong)}:where(.o-forwards){-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}:where(.o-reverse){-webkit-animation-direction:reverse;animation-direction:reverse}@-webkit-keyframes ping-pong{40%,50%{left:calc(min(var(--o-size-content-2), var(--o-max-inline-body))/2)}0%,90%{left:0}}@keyframes ping-pong{40%,50%{left:calc(min(var(--o-size-content-2), var(--o-max-inline-body))/2)}0%,90%{left:0}}