---
import SkipToContent from './SkipToContent.astro';
import SidebarToggle from './SidebarToggle';
import LanguageSelect from './LanguageSelect';
import Search from './Search';
import ThemeToggleButton from './ThemeToggleButton';
import { getLanguageFromURL } from '../../util';
import { getDocSearchStrings, useTranslations } from '../../i18n/util';

const { currentPage } = Astro.props;
const lang = currentPage && getLanguageFromURL(currentPage);
const docsearchStrings = getDocSearchStrings(Astro);
const t = useTranslations(Astro);
---

<header>
	<SkipToContent />
	<nav class="nav-wrapper" title={t('navbar.a11yTitle')}>
		<div dir="ltr" lang="en" class="logo flex">
			<a class="astro" href="https://oxyprops.com/">
				<h1 class="sr-only">OxyProps</h1>
				<svg xmlns="http://www.w3.org/2000/svg" width="102" height="102" viewBox="0 0 200 159.29" fill="none">
					<style>
						.brand {
							fill: var(--o-theme-accent);
						}
					</style>
					<path class="brand" d="M60 79.65c0-6.19-5.04-11.2-11.25-11.2h-37.5C5.04 68.45 0 73.46 0 79.65s5.04 11.2 11.25 11.2h37.5c6.21 0 11.25-5.01 11.25-11.2Zm58.75 11.2c6.21 0 11.25-5.01 11.25-11.2s-5.04-11.2-11.25-11.2h-37.5c-6.21 0-11.25 5.01-11.25 11.2s5.04 11.2 11.25 11.2h37.5Z"/>
					<path class="brand" d="M174.46 50.51C162.78 20.94 133.85 0 100 0S37.79 20.53 25.89 49.65h22.24C58.52 31.87 77.85 19.92 100 19.92c24.12 0 44.89 14.17 54.43 34.6C145.78 59.76 140 69.24 140 80.05s5.65 20.08 14.14 25.35c-9.66 20.1-30.27 33.99-54.14 33.99-22.15 0-41.48-11.96-51.87-29.73H25.89c11.9 29.11 40.59 49.65 74.11 49.65s62.24-20.54 74.14-49.67C188.75 107.63 200 95.16 200 80.06s-11.09-27.39-25.54-29.54ZM170 96.13c-8.91 0-16.15-7.21-16.15-16.08S161.1 63.97 170 63.97s16.15 7.21 16.15 16.08S178.9 96.13 170 96.13Z"/>
				</svg>
				OXYPROPS
			</a>
			<a class="docs" href={`/${lang || 'en'}/`}>
				<h1 class="sr-only">Docs</h1>
				DOCS
			</a>
		</div>
			<ThemeToggleButton 
				client:visible 
				labels={{  useLight: t('themeToggle.useLight'), useDark: t('themeToggle.useDark')  }}
				isInsideHeader={true} 
			/>
		{lang && <LanguageSelect lang={lang} client:idle />}
		<Search {lang} client:idle labels={docsearchStrings} />
		<SidebarToggle client:idle />
	</nav>
</header>

<style>
	header {
		z-index: 11;
		height: var(--o-theme-navbar-height);
		padding: 2rem 0;
		background-color: var(--o-theme-navbar-bg);
		display: flex;
		align-items: center;
		justify-content: left;
		overflow: hidden;
		position: sticky;
		top: 0;
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.75rem;
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	/* If the device is likely to show a scrollbar gutter, reserve space for it */
	@media (hover: hover) {
		.nav-wrapper {
			max-width: calc(100vw - 1.1rem);
		}
	}

	.logo {
		display: flex;
		justify-content: flex-start;
		font-size: 1rem;
		flex-grow: 1;
		flex-shrink: 0;
		font-weight: 600;
		line-height: 1;
		color: hsla(var(--o-color-base-white), 100%, 1);
		text-decoration: none;
		gap: 0.5em;
	}

	:global([dir='rtl']) .logo {
		justify-content: flex-end;
	}

	.logo a {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 0.5em 0.25em;
		margin: -0.5em -0.25em;
		text-decoration: none;
		color: var(--o-theme-text);
		font-weight: var(--o-font-weight-2);
		font-size: var(--o-font-size-fluid-1);
	}

	.logo svg {
		height: 40px;
		width: auto;
		display: block;
		color: var(--o-theme-accent);
	}

	.logo .hover {
		opacity: 0;
	}
	.logo a {
		transition: transform 180ms ease-out;
	}

	.logo a:hover,
	.logo a:focus {
		opacity: 1;
		transform: translateY(-2px);
	}

	.logo a:focus:not(:focus-visible) {
		outline: none;
	}

	.logo h1 {
		font: inherit;
		color: inherit;
		margin: 0;
	}

	.astro {
		overflow: hidden;
		width: 41px;
	}

	.docs {
		display: none;
	}

	.logo a.docs {
		color: var(--o-theme-accent);
		font-weight: var(--o-font-weight-6);
	}

	@media (min-width: 20em) {
		.docs {
			display: inherit;
			max-width: 80px;
		}
	}

	@media (min-width: 23.5em) {
		.docs {
			max-width: none;
		}
		.nav-wrapper {
			gap: 1rem;
		}
	}

	@media (min-width: 50em) {
		header {
			position: static;
			background-color: transparent;
			padding: 2.5rem 0 1.5rem 0;
		}
		.nav-wrapper {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		.astro {
			width: auto;
		}
	}
</style>
