---
import SkipToContent from './SkipToContent.astro';
import SidebarToggle from './SidebarToggle';
import LanguageSelect from './LanguageSelect';
import Search from './Search';
import ThemeToggleButton from './ThemeToggleButton';
import { getLanguageFromURL } from '../../util';
import { getDocSearchStrings, useTranslations } from '../../i18n/util';
import OxyPropsLogo from './OxyPropsLogo.astro';

const { currentPage } = Astro.props;
const lang = currentPage && getLanguageFromURL(currentPage);
const docsearchStrings = getDocSearchStrings(Astro);
const t = useTranslations(Astro);
---

<header>
	<SkipToContent />
	<nav class="nav-wrapper" title={t('navbar.a11yTitle')}>
		<div dir="ltr" lang="en" class="logo flex">
			<a class="astro" href="https://oxyprops.com/">
				<h1 class="sr-only">OxyProps</h1>
				<OxyPropsLogo size="50" />
				OXYPROPS
			</a>
			<a class="docs" href={`/${lang || 'en'}/`}>
				<h1 class="sr-only">Docs</h1>
				DOCS
			</a>
		</div>

		{lang && <LanguageSelect lang={lang} client:idle />}
		<!-- <Search {lang} client:idle labels={docsearchStrings} /> -->
		<ThemeToggleButton 
		client:visible 
		labels={{  useLight: t('themeToggle.useLight'), useDark: t('themeToggle.useDark')  }}
		isInsideHeader={true} 
	/>
		<SidebarToggle client:idle />
	</nav>
</header>

<style>
	header {
		z-index: 11;
		height: var(--o-theme-navbar-height);
		padding: 2rem 0;
		background-color: var(--o-theme-navbar-bg);
		display: flex;
		align-items: center;
		justify-content: left;
		overflow: hidden;
		position: sticky;
		top: 0;
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.75rem;
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	/* If the device is likely to show a scrollbar gutter, reserve space for it */
	@media (hover: hover) {
		.nav-wrapper {
			max-width: calc(100vw - 1.1rem);
		}
	}

	.logo {
		display: flex;
		justify-content: flex-start;
		font-size: 1rem;
		flex-grow: 1;
		flex-shrink: 0;
		font-weight: 600;
		line-height: 1;
		color: hsla(var(--o-color-base-white), 100%, 1);
		text-decoration: none;
		gap: 0.5em;
	}

	:global([dir='rtl']) .logo {
		justify-content: flex-end;
	}

	.logo a {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 0.5em 0.25em;
		margin: -0.5em -0.25em;
		text-decoration: none;
		color: var(--o-theme-text);
		font-weight: var(--o-font-weight-2);
		font-size: var(--o-font-size-fluid-1);
	}

	.logo svg {
		height: 40px;
		width: auto;
		display: block;
		color: var(--o-theme-accent);
	}

	.logo .hover {
		opacity: 0;
	}
	.logo a {
		transition: transform 180ms ease-out;
	}

	.logo a:hover,
	.logo a:focus {
		opacity: 1;
		transform: translateY(-2px);
	}

	.logo a:focus:not(:focus-visible) {
		outline: none;
	}

	.logo h1 {
		font: inherit;
		color: inherit;
		margin: 0;
	}

	.astro {
		overflow: hidden;
		width: 41px;
	}

	.docs {
		display: none;
	}

	.logo a.docs {
		color: var(--o-theme-accent);
		font-weight: var(--o-font-weight-6);
	}

	@media (min-width: 20em) {
		.docs {
			display: inherit;
			max-width: 80px;
		}
	}

	@media (min-width: 23.5em) {
		.docs {
			max-width: none;
		}
		.nav-wrapper {
			gap: 1rem;
		}
	}

	@media (min-width: 50em) {
		header {
			position: static;
			background-color: transparent;
			padding: 2.5rem 0 1.5rem 0;
		}
		.nav-wrapper {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		.astro {
			width: auto;
		}
	}
</style>
